@page
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Registration.Confirmation.SignUpConfirmationModel
@{
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">You have successfully submitted a request to sign up for the Northern Ireland Retail Movement Scheme</h1>
        </div>

        <h2 class="govuk-heading-m">What happens next?</h2>
        <p>You will receive a confirmation of your sign up at @Model.Email.</p>
        <p>We will review your sign up request and email you with the outcome within 2 business days. If your sign up is successful, the email will contain information about how to apply for Northern Ireland Retail Movement Scheme certificates.</p>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m" id="help-with-your-application">Help with the Northern Ireland Retail Movement Scheme</h2>
        <p class="govuk-body">In England, Scotland and Wales, call APHA on 03000 200 301.</p>
        <p class="govuk-body">In Northern Ireland, call DAERA on 02877 442 060.</p>
        <p class="govuk-body"><a href="https://www.gov.uk/call-charges">Find out about call charges</a>.</p>

    </div>
</div>