@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Domain.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Registration.RegisteredBusiness.RegisteredBusinessAlreadyRegisteredModel
@{
}

@section Back{
    <a asp-page="@Routes.Pages.Path.RegisteredBusinessBusinessPickerPath" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Your business has already submitted a request to sign up for the Northern Ireland Retail Movement Scheme
        </h1>

        <p>Submitted requests are reviewed within 5 working days, followed by an email confirming the outcome. The email for successful requests contains information about how to apply for General Certificates.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m" id="help-with-your-application">Help with the Northern Ireland Retail Movement Scheme</h2>
        <p class="govuk-body">Call APHA on 03000 200 301.</p>
        <p class="govuk-body"><a rel="noopener" href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges</a>.</p>

    </div>
</div>