@page
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Registration.RegisteredBusiness.RegisteredBusinessCanNotRegisterModel
@using Defra.Trade.ReMoS.AssuranceService.UI.Domain.Constants;
@{
    ViewData["Title"] = "You cannot sign up your business";
}

@section Back{
    <a asp-page="@Routes.Pages.Path.RegisteredBusinessFboNumberPath" asp-route-id="@Model.TraderId" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            You cannot sign up your business
        </h1>

        <p>To sign up for the Northern Ireland Retail Movement Scheme, businesses based in England, Scotland and Wales need a Food Business Operator (FBO) number. You can <a rel="noopener noreferrer" href="https://www.gov.uk/food-business-registration" target="_blank">register for one with your local authority for free</a>.</p>

        <p>If you cannot use this scheme, you can apply for other <a rel="noopener noreferrer" href="https://www.gov.uk/guidance/get-an-export-health-certificate">export health certificates</a>.</p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <p>Find out about the requirements for the movement in the <a href="">Northern Ireland Retail Movement Scheme guidance notes</a>.</p>

    </div>
</div>