@page
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Registration.RegisteredBusiness.RegisteredBusinessModel
@{
    ViewData["Title"] = "Select a Business";
}

@*TODO replace with business picker*@

<div>
    @if (User.Identity.IsAuthenticated!)
    {
        <div class="row">
            <div class="col-md-12">
                <h1>Hello @User.Claims.FirstOrDefault(c => c.Type == "name")?.Value!</h1>
                <p>Contact Id: @User.Claims.FirstOrDefault(c => c.Type == "contactId")?.Value!</p>
                <p>Org ID: @User.Claims.FirstOrDefault(c => c.Type == "userEnrolledOrganisations")?.Value</p>
            </div>
        </div>
    }
</div>


<container class="govuk-width-container">
    <div>
        <h1 class="govuk-heading-l">Existing Submission</h1>
        <form method="post">
            <div class="govuk-form-group">
                <input class="govuk-input" asp-for=Id />
            </div>
            <button class="govuk-button" asp-page-handler="submit" id="button-rbIndexSubmit">Search</button>
        </form>

        <form method="post">
            <h1 class="govuk-heading-l">New Submission</h1>
            <button class="govuk-button" asp-page-handler="save" id="button-rbIndexSave">Start new</button>
        </form>
    </div>
</container>