@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Constants;
@{
    ViewData["Title"] = "No business chosen";
}

@section Back{
    <a asp-page="@Routes.Pages.Path.RegisteredBusinessBusinessPickerPath" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            You do not have access to any other businesses
        </h1>

        <p class="govuk-body">If the business you want to select already has a Defra account, you'll need to contact your business' account administrator so they can give you access. To learn more about account access, you can read about how to <a href="https://www.gov.uk/government/publications/how-to-register-for-export-health-certificate-ehc-online/ehc-online-manage-access-using-your-defra-account" target="_blank" rel="noreferrer noopener">manage access using your Defra account</a>. </p>
        <p class="govuk-body"> If your business does not have a Defra account, you'll need to add a business to your individual account.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <partial name="_ContactDetailsPartial" />

    </div>
</div>