@page
@inject IConfiguration _config
@using Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Registration.RegisteredBusiness.RegisterBusinessForExporterServiceModel
@{
}

@section Back{
    <a asp-page="@Routes.Pages.Path.RegisteredBusinessBusinessPickerPath" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Before you can sign up for the scheme, you will need to register your business' account for the exporter service
        </h1>

        <p>Go to <a href="@_config["ExternalLinks:ManageAccountPage"]" target="_blank" rel="noopener noreferrer">your Defra account</a> (opens in a new tab) and follow these steps:</p>

        <ol class="govuk-list govuk-list--number">
            <li>Select 'Manage' for the business account you want to sign up with.</li>
            <li>Select 'Register for more services'.</li>
            <li>Select 'Exporter Service' from the list of services.</li>
            <li>Select your business.</li>
            <li>Select 'Manage team access' for your business and add anyone who needs access.</li>
            <li>Return to the previous page to <a asp-page="@Routes.Pages.Path.RegisteredBusinessBusinessPickerPath">select your business</a> – you will need to select 'Refresh list of businesses' to make sure your account has updated.</li>
        </ol>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <partial name="_ContactDetailsPartial" />

    </div>
</div>