@page
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.RegisteredBusinessAddressModel
@{
    ViewData["Title"] = "Enter Business Address";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="ModelState" />

        <form method="POST" novalidate>
            <input type="hidden" asp-for="TraderId" />
            <div class="govuk-form-group @(ModelState.ErrorCount > 0 ? "govuk-form-group--error" : null)">
                <fieldset class="govuk-fieldset" aria-describedby="@(ModelState.HasError("LineOne") ? "LineOne": null)">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Business details</span>
                            What is the registered address of your business?
                        </h1>
                    </legend>

                   
                    <div class="govuk-form-group">
                        <p id="LineOne_Error" class="govuk-error-message" gds-validation-for="LineOne"></p>
                        <label class="govuk-label" for="address-line-1">
                          Address line 1
                        </label>
                        <input class="govuk-input" id="address-line-1" asp-for="LineOne" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-2">
                          Address line 2 (optional)
                        </label>
                        <input class="govuk-input" id="address-line-2" asp-for="LineTwo" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <p id="CityName_Error" class="govuk-error-message" gds-validation-for="CityName"></p>
                        <label class="govuk-label" for="address-city">
                          Town or city
                        </label>
                        <input class="govuk-input" id="address-city" asp-for="CityName" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <p id="PostCode_Error" class="govuk-error-message" gds-validation-for="PostCode"></p>
                        <label class="govuk-label" for="address-postcode">
                          Postcode
                        </label>
                        <input class="govuk-input" id="address-postcode" asp-for="PostCode" type="text">
                    </div>

                </fieldset>
                <br>
            </div>
            <button class="govuk-button" asp-page-handler="submit">Save and continue</button>
            <p>
                <a class="govuk-link" asp-page-handler="Save">Save and continue later</a>
            </p>
        </form>
    </div>
</div>
