@page
@{
    ViewData["Title"] = "Accessbility Statement";
}

@section Signout{}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">
                    Accessibility statement for Move goods under the  NI Retail Movement Scheme
                </h1>

                <p class="govuk-body">This service is run by the <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" target="_blank">Department for Environment Food &amp; Rural Affairs</a> (Defra). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>change colours, contrast levels and fonts</li>
                    <li>zoom in up to 200% (TODO: CONFIRM %) without the text spilling off the screen</li>
                    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA, TalkBack and VoiceOver)</li>
                    <li>navigate most of the website using just a keyboard</li>
                    <li>navigate most of the website using speech recognition software</li>
                </ul>

                <p>The team has also made the website text as simple as possible to understand.</p>

                <p>AbilityNet has <a href="https://mcmw.abilitynet.org.uk/" target="_blank">advice on making your device easier to use</a> if you have a disability.</p>

                <h2 class="govuk-heading-m">How accessible this website is</h2>
                <p class="govuk-body">
                    All users with access needs can complete the process of moving goods under the Northern Ireland Retail Movement Scheme. However we know that some parts of this website are not
                    fully accessible:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>TODO: MENTION ANYTHING NOT ACESSIBLE</li>
                </ul>

                <h2 class="govuk-heading-m">Feedback and contact information</h2>
                <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>email: <a href="mailto:enquiries@environment-agency.gov.uk" class="govuk-link">TODO: EMAIL</a></li>
                    <li>call: <a href="tel:" class="govuk-link">TODO: TELEPHONE</a></li>
                </ul>

                <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
                <p class="govuk-body">
                    We are always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements,
                    contact:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>email: <a href="mailto:enquiries@environment-agency.gov.uk" class="govuk-link">TODO: EMAIL</a></li>
                    <li>call: <a href="tel:" class="govuk-link">TODO: TELEPHONE</a></li>
                </ul>

                <h2 class="govuk-heading-m">Enforcement procedure</h2>
                <p class="govuk-body">
                    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations
                    2018 (the 'accessibility regulations'). If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/" target="_blank" class="govuk-link">Equality Advisory and Support Service (EASS)</a>.
                </p>

                <h2 class="govuk-heading-m">Contact us</h2>
                <p class="govuk-body">You can contact us by:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>email: <a href="mailto:enquiries@environment-agency.gov.uk" class="govuk-link">TODO: EMAIL</a></li>
                        <li>call: <a href="tel:" class="govuk-link">TODO: TELEPHONE</a></li>
                        <li><a href="" class="govuk-link">TODO: SOCIAL MEDIA (if approriate)</a></li>
                    </ul>
                </ul>
                <p class="govuk-body">If you visit our offices and need assistance or a British Sign Language interpreter, you should contact us before you visit.</p>
                <p class="govuk-body">
                    See Defra's <a href="" class="govuk-link">
                        office access and opening
                        times
                    </a> TODO: PROVIDE OFFICE DETAILS (if approriate).
                </p>

                <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
                <p class="govuk-body">Defra is committed to making this website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

                <h2 class="govuk-heading-m">Compliance status</h2>
                <p class="govuk-body">This service is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link" target="_blank">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed.</p>
                <p>TODO: ARE WE 'COMPLIANT' or 'PARTIALLY COMPLIANT'</p>

                <h2 class="govuk-heading-m">Non-accessible content</h2>
                <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>

                <h2 class="govuk-heading-m">Non-compliance with the accessibility regulations</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li>TODO: LIST ANY NON-COMLIANCE</li>
                </ul>

                <h2 class="govuk-heading-m">Disproportionate burden</h2>
                <p class="govuk-body">None. TODO: CONFIRM</p>

                <h2 class="govuk-heading-m">Content that’s not within the scope of the accessibility regulations</h2>
                <p class="govuk-body">None. TODO: CONFIRM</p>

                <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
                <p class="govuk-body">This statement was prepared on TODO: DATE. It was last reviewed on TODO: DATE.</p>
                <p class="govuk-body">The service was audited for accessibility TODO: PROVIDE DETAILS.</p>
                <p class="govuk-body">We tested the most common steps for moving goods under the scheme:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>TODO: LIST WHAT JOURNEYS WERE TESTED (remove if all tested)</li>
                </ul>
                <p class="govuk-body">The non-compliant elements will be included in ongoing testing and fixing (TODO: REMOVE IF NOT RELEVANT).</p>

            </div>
        </div>
    </main>
</div>

