@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Domain.Constants;
@{
    ViewData["Title"] = "Terms and conditions for the Northern Ireland Retail Movement Scheme";
}

@section Signout{}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Northern Ireland Retail Movement Scheme Terms &amp; Conditions
        </h1>
        <p>1. These terms and conditions apply to all Scheme Members who move, receive or place on the market "specified retail goods" under the Retail Movement Scheme ("the Scheme").</p>
        <p>2. A "Scheme Member" is a person approved under The Windsor Framework (Retail Movement Scheme) Regulations 2023 (the "Regulations") who may:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>move specified retail goods into Northern Ireland under the Scheme</li>
            <li>place those goods on the market in Northern Ireland for the final consumer</li>
        </ul>
        <p>
            A "Great Britain Scheme Member" is a Scheme Member sending specified retail goods from Great Britain. A "Northern Ireland Recipient" is a Scheme member receiving specified retail goods in
            Northern Ireland.
        </p>
        <p>3. To move, receive or place on the market specified retail goods under the Scheme, a Scheme Member must accept and comply with these terms and conditions.</p>
        <p>4. Alongside the Scheme requirements set out in these terms and conditions, <a href="https://www.gov.uk/government/publications/the-windsor-framework-goods-movements-general" target="_blank" rel="noopener noreferrer">customs requirements</a> continue to apply and must be adhered to.</p>
        <p>
            5. The Central Competent Authority for the scheme is the Department for Environment, Food and Rural Affairs (Defra). The Great Britain Competent Authority is the Animal and Plant Health Agency
            (APHA). The Northern Ireland Competent Authority is the Department of Agriculture and Rural Affairs of Northern Ireland (DAERA).
        </p>
        <p>6. In these terms and conditions "Working Day" means a day that is not: </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>a Saturday or Sunday; </li>
            <li>a day which is a bank holiday under the Banking and Financial Dealings Act 1971(a) in England and Wales, Scotland or Northern Ireland</li>
            <li>or a day which is a public holiday in England, Wales, Scotland or Northern Ireland</li>
        </ul>
        <p>7. Elsewhere in these terms and conditions, footnotes are used where a particular phrase or word has a specific meaning.</p>
        <h2 class="govuk-heading-m">General requirements for scheme membership</h2>
        <p class="govuk-!-margin-bottom-1">8. A Scheme Member must:</p>
        <p class="govuk-!-padding-left-5 govuk-!-margin-bottom-1">i. have and maintain an address in the United Kingdom; and</p>
        <p class="govuk-!-padding-left-5 govuk-!-margin-bottom-1">ii. be registered or approved:</p>
        <p class="govuk-!-padding-left-9 govuk-!-margin-bottom-1">i.a. as a food business with the Food Standards Agency (FSA), Food Standards Scotland (FSS) or the relevant local authority; and/or</p>
        <p class="govuk-!-padding-left-9">i.b. by APHA or the Scottish Government, for the purposes of moving fresh fruit, vegetables or cut flowers permissible under the Scheme.</p>
        <p>9. A Scheme Member must notify the Great Britain Competent Authority (APHA) immediately if its status changes such that it is unable to meet the requirements in condition.</p>
        <p>
            10. Each Scheme Member must have an authorised representative. An authorised representative is an individual who is authorised by the Scheme Member to sign contracts and other legal documents
            on behalf of the Scheme Member. This person has the legal authority to bind the company to agreements and make other decisions on behalf of the Scheme Member.
        </p>
        <p>
            11. It is the responsibility of the authorised representative to ensure that the Great Britain Competent Authority (APHA) is notified of any changes to information relevant to the Scheme
            Member's membership, including listed establishments, status of its business (e.g. change in ownership, closure), change in contact information, supply chains, individual specified retail goods
            movements. Changes to the information or failure to communicate changes to this information may lead to revocation or suspension of the Scheme membership.
        </p>
        <p>
            12. A Scheme member may apply to add or remove a listed establishment which includes any establishment in Great Britain from which those goods are to be moved and any establishment in Northern
            Ireland to which those goods are to be moved immediately on leaving Great Britain.
        </p>
        <p>13. Where applicable, a Scheme Member must ensure that it complies with all rules, laws and regulations relating to Sanitary or Phytosanitary products.</p>
        <p>
            14. A Scheme Member may request the Secretary of State in writing to review a decision regarding refusal of application to the Scheme or refusal of an addition of a listed establishment as set
            out in Article 8 of the Regulations.
        </p>
        <p>
            15. Any notification required to be made to the Competent Authorities must be sent by email. The relevant contact details will be made available on the <a href="https://www.gov.uk/government/collections/the-windsor-framework-further-detail-and-publications" target="_blank" rel="noopener noreferrer">NI Retail Movement Scheme website</a>.
        </p>
        <h2 class="govuk-heading-m">Specified retail goods</h2>
        <p>16. "Specified retail goods" are retail goods for placing on the market in Northern Ireland for the final consumer.</p>
        <p>17. Scheme Members must only move specified retail goods that fall into the categories and meet the conditions set out in Articles 4(1) and Article 5(1) of the "SPS Regulation" (see <a href="#footnote1">footnote 1</a>).</p>
        <p>18. The Scheme Member must declare that specified retail goods moved under the Scheme meet the relevant GB public health, marketing and organics standards, and fish-specific rules.</p>
        <p>
            19. The Scheme Member must not knowingly engage in, support or trade in any products which originate from illegal, unreported and unregulated (IUU) fishing and should they discover that they
            have, they must notify the Great Britain Competent Authority (APHA), at the earliest possible opportunity, in writing or by e-mail.
        </p>
        <h2 class="govuk-heading-m">Conditions of movement</h2>
        <p>
            20. To move specified retail goods, the Scheme Member must hold live membership of the Scheme. A Scheme Member who is suspended from the Scheme, either permanently or temporarily, for any
            reason including non-compliance with the Regulations, these terms and conditions, posing a risk to the biosecurity of the island of Ireland or posing a risk of moving goods into the EU, cannot
            use the Scheme until it has its membership re-established and this has been communicated in writing by the Great Britain Competent Authority (APHA).
        </p>
        <p>21. The Scheme Member must move goods according to the requirements and process set out in the Scheme Guidance <a href="https://www.gov.uk/government/collections/the-windsor-framework-further-detail-and-publications#moving-goods-from-great-britain-to-northern-ireland---sanitary-and-phytosanitary-products-" target="_blank" rel="noopener noreferrer"> Guidance notes</a>.</p>
        <p class="govuk-!-margin-bottom-1">22. To move specified retail goods via the Scheme, a Great Britain Scheme Member must ensure that:</p>
        <p class="govuk-!-padding-left-5 govuk-!-margin-bottom-1">
            i. all consignments are moving with an approved General Certificate, a packing list, and they must be sealed in line with the requirements
            (see <a href="#footnote1">footnote 2</a>);
        </p>
        <p class="govuk-!-padding-left-5 govuk-!-margin-bottom-1">
            ii. it employs staff who are suitably skilled and experienced to perform the tasks assigned to them, and that such staff hold the
            authority to confirm compliance with the Scheme criteria to
            properly fulfil the relevant authorisation requirements for General Certificates; and
        </p>
        <p class="govuk-!-padding-left-5">iii. it complies with the labelling requirements set out in <a href="https://www.gov.uk/guidance/labelling-requirements-for-certain-products-moving-from-great-britain-to-retail-premises-in-northern-ireland-under-the-retail-movement-scheme" target="_blank" rel="noopener noreferrer">Labelling requirements for certain products moving from Great Britain to retail premises in Northern Ireland under the Retail Movement Scheme guidance</a>.</p>
        <h2 class="govuk-heading-m">Assurance</h2>
        <p>23. The Scheme Member must have a system in place for ensuring that only specified retail goods set out in condition 17 are moved in accordance with the requirements of the Scheme.</p>
        <p>
            24. The Scheme Member must supply, in such manner and at such times as the Competent Authorities may specify, such information and evidence as the Competent Authorities may require for the
            purposes of demonstrating adequate systems and controls are in place to ensure all specified retail goods moved are within scope of the Scheme as set out in Articles 4(1), 5(1) and 6 of the SPS
            Regulation.
        </p>
        <p>25. Evidence that specified retail goods meet Scheme requirements may include but is not limited to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>records of packing lists</li>
            <li>General Certificates</li>
            <li>shipping manifests</li>
            <li>commercial invoices</li>
            <li>Great Britain entry information</li>
            <li>sales information</li>
        </ul>

        <p>
            26. All Scheme Members moving, handling or receiving specified retail goods under the Scheme must comply with, and provide all assistance necessary to enable, any checks required by the
            Competent Authorities including during or following registration to the Scheme, ongoing checks (subject to the trader risk profile), spot checks at their listed establishments (and other
            premises in Great Britain or Northern Ireland where relevant specified retail goods may be handled), and checks on consignments as set out in Part 3 of the Regulations.
        </p>
        <p>
            27. The Northern Ireland Recipient must identify relevant goods that have been moved into Northern Ireland via the Scheme by marking goods and shelves with the words ‘Not for EU' and displaying
            posters
            stating that certain goods are only intended for sale to consumers in Northern Ireland in accordance with Article 6 of the SPS Regulation.
        </p>
        <p>
            28. The Scheme Member will provide data requested by a Competent Authority or any enforcing authorities, including local councils in Great Britain and Northern Ireland within five Working Days
            of the request.
        </p>
        <p>
            29. The Scheme Member agrees that the Competent Authorities may provide a range of data to the European Commission to meet the requirements under the Windsor&nbsp;Framework. This may include
            information from a Competent Authority confirming that a Scheme Member holds the authorisation to move specified retail goods under the Scheme.
        </p>
        <p>30. Any personal data held by the Competent Authority will be processed in accordance with the Privacy Notice <a href="/Privacy" target="_blank" rel="noopener noreferrer">Privacy Notice</a>.</p>
        <p>
            31. The Great Britain Scheme Member is responsible for ensuring that all specified retail goods sent via a third party are underpinned by relevant commercial arrangements which ensure those
            performing conveyance or certification of specified retail goods on their behalf adhere to the Scheme rules, requirements, and roles and responsibilities.
        </p>
        <h2 class="govuk-heading-m">Non-compliance</h2>
        <p class="govuk-!-margin-bottom-1">32. The Scheme Member must notify the Competent Authorities without delay upon becoming aware:</p>
        <p class="govuk-!-padding-left-5 govuk-!-margin-bottom-1">i. of any breach of these terms and conditions;</p>
        <p class="govuk-!-padding-left-5 govuk-!-margin-bottom-1">
            ii. that the movement of any specified retail goods through the Scheme has not been in accordance with the requirements of the Scheme
            (e.g. movement of non-eligible retail goods); and
        </p>
        <p class="govuk-!-padding-left-5">
            iii. of any serious adverse non-compliance with rules and legislation of Sanitary or Phytosanitary products. Serious adverse non-compliance includes, but is not
            limited to, a prohibition, formal closure, prosecution, or any similar indication of potential significant non-compliance.
        </p>
        <h2 class="govuk-heading-m">Liability</h2>
        <p>33. Other than any liability which cannot be excluded or restricted at law, the Competent Authorities have no liability to the Scheme Members arising from the terms and conditions.</p>
        <h2 class="govuk-heading-m">Prevention of fraud and corruption</h2>
        <p>
            34. The Scheme Member shall not offer, give, or agree to give anything, to any person an inducement or reward for doing, refraining from doing, or for having done or refrained from doing, any
            act in relation to its membership of the Scheme and/or the movement of specified retail goods.
        </p>
        <p>
            35. The Scheme Member shall take all reasonable steps, in accordance with good industry practice, to prevent fraud by its employees and contractors in connection with the Scheme and to ensure
            compliance of its employees and contractors with anti-bribery legislation including without limitation the Anti Bribery Act 2010.
        </p>
        <p>
            36. If the Scheme member or the staff engages in conduct prohibited by condition 37 or commits fraud in relation to the Scheme this shall constitute a non-compliance with these terms and
            conditions.
        </p>
        <h2 class="govuk-heading-m">General</h2>
        <p>
            37. The Competent Authorities reserve the absolute right, at their sole discretion, to vary these terms and conditions in any way and at any time, and the amended terms and conditions will be
            notified to the Scheme Member and made available here. By continuing to authorise General Certificates and move specified retail goods via the Scheme, the Scheme Member specifically accepts
            these terms and conditions as varied.
        </p>
        <p>
            38. If any provision of these terms and conditions is prohibited by law or judged by a court to be unlawful, void or unenforceable, the provision shall, to the extent required, be severed from
            these terms and conditions and rendered ineffective as far as possible without modifying the remaining provisions of these terms and conditions and shall not in any way affect any other
            circumstances of or the validity or enforcement of these terms and conditions.
        </p>
        <p>39. Scheme membership is personal to the approved Scheme Member and cannot be transferred or assigned to any other person.</p>
        <h2 class="govuk-heading-m">Governing Law and Disputes</h2>
        <p>40. The validity, construction and performance of these terms and conditions, and all matters arising out of them, shall be governed by English law.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-s">Footnotes</h3>

        <p id="footnote1">
            1. SPS Regulation means the Regulation of the European Parliament and of the Council on specific rules relating to the entry into Northern Ireland from other parts of the United
            Kingdom of certain consignments of retail goods, plants for planting, seed potatoes, machinery and certain vehicles operated for agricultural or forestry purposes, as well as non-commercial
            movements of certain pet animals into Northern Ireland (2023/0062). Available at: <a href="https://data.consilium.europa.eu/doc/document/PE-17-2023-INIT/en/pdf" target="_blank" rel="noopener noreferrer">https://data.consilium.europa.eu/doc/document/PE-17-2023-INIT/en/pdf</a>.
        </p>

        <p id="footnote2">
            2. The sealing requirements state that all consignments must be sealed with a unique identifier and associated number at the listed establishment in Great Britain, and that at
            the point of departure, a time-stamped photo of the container-level seal is taken, and a visual check is completed to confirm seals are closed and that the seal number is the same as submitted
            on the General Certificates.
        </p>


    </div>
</div>