@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Constants;
@{
    ViewData["Title"] = "NI Retail Movement Scheme Terms & Conditions";
}

@section Signout{}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            NI Retail Movement Scheme Terms &amp; Conditions
        </h1>
        <p class="govuk-body">
            1. These terms and conditions are made by the Secretary of State with the consent of Scottish Ministers, Welsh Ministers and Northern Ireland’s Department for Agriculture, Environment and Rural
            Affairs (DAERA), and apply to all Scheme Members who move or place on the
            market “specified retail goods” under the Retail Movement Scheme (“the Scheme”).
        </p>
        <p class="govuk-body">2. A “Scheme Member” is a person approved under regulation 3 (5)(a) of The Windsor Framework (Retail Movement Scheme) Regulations 2023 (the “Regulations”) as a person who may:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>move specified retail goods into Northern Ireland under the Scheme</li>
            <li>place goods on the market in Northern Ireland for the final consumer</li>
        </ul>


        <p class="govuk-body">3. To move specified retail goods under the Scheme, a Scheme Member must comply with these terms and conditions.</p>
        <p class="govuk-body">4. Alongside the Scheme requirements set out in these terms and conditions, <a href="https://www.gov.uk/government/publications/the-windsor-framework-goods-movements-general" target="_blank" rel="noopener noreferrer">customs requirements</a> continue to apply and must be adhered to.</p>
        <p class="govuk-body">5. The Great Britain Competent Authority is the Animal and Plant Health Agency (APHA). The Northern Ireland Competent Authority is DAERA.</p>
        <p class="govuk-body">
            6. In these terms and conditions “Working Day” means a day other than: a Saturday or Sunday; a day which is a bank holiday under the Banking and Financial Dealings Act 1971(a) in England and
            Wales, Scotland or Northern Ireland; or a day which is a public holiday in England, Wales, Scotland or Northern Ireland.
        </p>
        <p class="govuk-body">7. Elsewhere in these terms and conditions, additional definitions are included where a particular phrase or word has a specific meaning.</p>

        <h2 class="govuk-heading-m" id="general-requirements">General requirements for Scheme membership</h2>
        <p class="govuk-!-margin-bottom-1">8. A Scheme Member must:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>have and maintain an address in the United Kingdom</li>
            <li>
                have any operator or establishment approval, registration, certification, or licence required in order to move or place on the market the retail goods to be moved and placed on the market
                under the Scheme.
            </li>
        </ul>
        <p class="govuk-body">9. A Scheme Member must notify the Great Britain Competent Authority (APHA) immediately if its status changes such that it is unable to meet these requirements.</p>
        <p class="govuk-body">
            10. Each Scheme Member must have an authorised representative. An “authorised representative” is an individual who is authorised by the Scheme Member to sign contracts and other legal documents
            on behalf of the Scheme Member. This person has the legal authority to bind the company to agreements and make other decisions on behalf of the Scheme Member.
        </p>
        <p class="govuk-body">
            11. It is the responsibility of the authorised representative to ensure that the Great Britain Competent Authority (APHA) is notified of any changes to information provided during or after the
            registration which is relevant to the Scheme Member’s membership. Changes to the information or failure to communicate changes to this information may lead to revocation or suspension of the
            Scheme membership.
        </p>
        <p class="govuk-body">
            12. Any notification required by these terms and conditions to be made to the Great Britain Competent Authority (APHA) must be sent by email. The relevant contact details will be made available
            on the <a href="https://www.gov.uk/government/publications/retail-movement-scheme-how-the-scheme-will-work/retail-movement-scheme-how-the-scheme-will-work" target="_blank" rel="noopener noreferrer">
                NI Retail Movement
                Scheme website
            </a>.
        </p>
        <h2 class="govuk-heading-m" id="retail-goods">Specified Retail Goods</h2>
        <p class="govuk-body">13. “Specified retail goods” are retail goods for placing on the market in Northern Ireland for the final consumer.</p>
        <p class="govuk-body">14. Scheme Members must only move specified retail goods that fall into the categories and meet the conditions set out in Articles 4(1) and Article 5(1) of the <a href="https://data.consilium.europa.eu/doc/document/PE-17-2023-INIT/en/pdf" target="_blank" rel="noopener noreferrer">SPS Regulation EU 2023/1231</a>.</p>
        <p class="govuk-body">15. A Scheme Member must ensure that consignments of retail goods entering into Northern Ireland comply with:</p>
        <p class="govuk-!-padding-left-5">
            (a) the provisions of the instruments listed in Column 2 of Schedule 1, Column 2 of Schedule 2 and Column 2 of Schedule 3 to the Windsor
            Framework (Retail Movement Scheme: Public Health, Marketing and Organic Product Standards and Miscellaneous Provisions) Regulations 2023 (subject to any modifications specified in those
            Schedules and such further modifications as are necessary) and the instruments applied by regulation 5 of those Regulations,
        </p>
        <p class="govuk-!-padding-left-5">
            (b) the provisions listed in Annex 2 to the Protocol on Ireland/Northern Ireland other than those listed in Annex 1 to the <a href="https://data.consilium.europa.eu/doc/document/PE-17-2023-INIT/en/pdf" rel="noopener noreferrer" target="_blank" >SPS Regulation EU 2023/1231</a>.
        </p>
        <p class="govuk-body">
            16. The Scheme Member must not knowingly engage in, support or trade in any products which originate from illegal, unreported and unregulated (IUU) fishing and should they discover that they
            have, they must notify the Great Britain Competent Authority (APHA), at the earliest possible opportunity, in writing or by e-mail.
        </p>

        <h2 class="govuk-heading-m" id="conditions-movement">Conditions of movement</h2>
        <p class="govuk-body">
            17. To move specified retail goods, the Scheme Member must hold live membership of the Scheme. A Scheme Member who is suspended from the Scheme, for any reason cannot use the Scheme until it
            has its membership re-established and the decision of Secretary of State that the suspension ceases to have effect has been communicated in writing by the Great Britain Competent Authority
            (APHA).
        </p>
        <p class="govuk-body">18. To move specified retail goods via the Scheme, a Great Britain Scheme Member must ensure that (all of the following):</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                all consignments are moving with an approved General Certificate, a packing list, and they must be sealed with a unique identifier and associated number at the listed establishment in Great
                Britain, and that at the point of departure, a time-stamped photo of the container-level seal is taken, and a visual check is completed to confirm seals are closed and that the seal number is
                the same as submitted on the General Certificates
            </li>
            <li>
                it employs staff who are suitably skilled and experienced to perform the tasks assigned to them, and that such staff hold the authority to confirm compliance with the Scheme terms and
                conditions to properly fulfil the relevant authorisation requirements for General Certificates
            </li>
            <li>
                retail goods requiring individual markings or box level markings in accordance with Article 6 and Annex IV of the <a href="https://data.consilium.europa.eu/doc/document/PE-17-2023-INIT/en/pdf" target="_blank" rel="noopener noreferrer">SPS Regulation EU 2023/1231</a> are
                so marked
            </li>
        </ul>

        <h2 class="govuk-heading-m" id="assurance">Assurance</h2>
        <p class="govuk-body">19. The Scheme Member must have a system in place for ensuring that only specified retail goods are moved in accordance with the requirements of the Scheme.</p>
        <p class="govuk-body">
            20. The Scheme Member must supply, in such manner and at such times as the Competent Authorities or any person duly authorised in writing by the appropriate Great Britain authority (the Secretary of
            State, the Scottish Ministers, or the Welsh Ministers or any organisation or body designated by the Northern Ireland Competent Authority) may specify, such information and evidence as the
            Competent Authorities may require for the purposes of demonstrating adequate systems and controls are in place to ensure all specified retail goods moved are within scope of the Scheme as set
            out in Articles 4(1), 5(1) and 6 of the <a href="https://data.consilium.europa.eu/doc/document/PE-17-2023-INIT/en/pdf" target="_blank" rel="noopener noreferrer">SPS Regulation EU 2023/1231</a>.
        </p>
        <p class="govuk-body">
            21. Evidence that specified retail goods meet Scheme requirements may include but is not limited to: records of packing lists; General Certificates; shipping manifests; commercial invoices;
            Great Britain entry information; and sales information. Information must be specific to the goods in question, and upon request must be supplied to the Competent Authorities or any person duly
            authorised in writing by the appropriate Great Britain authority (the Secretary of State, the Scottish Ministers or the Welsh Ministers or any organisation or body designated by the Northern Ireland
            Competent Authority), within five Working Days. Evidence must be kept for a minimum of five years.
        </p>
        <p class="govuk-body">
            22. All Scheme Members moving specified retail goods under the Scheme must comply with, and provide all assistance necessary to enable, any checks required by the Competent Authorities or any
            person duly authorised in writing by the appropriate Great Britain authority (the Secretary of State, the Scottish Ministers or the Welsh Ministers) or any organisation or body designated by the Northern
            Ireland Competent Authority including during or following registration to the Scheme, ongoing checks spot checks at their listed establishments (and other premises in Great Britain or Northern
            Ireland where relevant specified retail goods may be handled), and checks on consignments as set out in Part 3 of the Regulations.
        </p>
        <p class="govuk-body">
            23. The Northern Ireland Recipient must identify relevant goods that have been moved into Northern Ireland via the Scheme and ensure those retail goods are marked in accordance with Article 6
            and Annex IV of the <a href="https://data.consilium.europa.eu/doc/document/PE-17-2023-INIT/en/pdf" target="_blank" rel="noopener noreferrer">SPS Regulation EU 2023/1231</a>.
        </p>
        <p class="govuk-body">
            24. The Scheme Member will provide data requested by a Competent Authority or any any person duly authorised by the appropriate Great Britain authority (the Secretary of State, the Scottish Ministers or
            the Welsh Ministers) or any organisation or body designated by the Northern Ireland Competent Authority, within five Working Days of the request.
        </p>
        <p class="govuk-body">
            25. The Scheme Member agrees that the Secretary of State may provide a range of data to the European Commission to meet the requirements under the Windsor&nbsp;Framework. This may include
            information from a Competent Authority confirming that a Scheme Member holds the authorisation to move specified retail goods under the Scheme.
        </p>
        <p class="govuk-body">26. Any personal data held by the Competent Authorities will be processed in accordance with the <a href="/privacy-policy" target="_blank" rel="noopener noreferrer">privacy notice</a>.</p>
        <p class="govuk-body">
            27. The Great Britain Scheme Member is responsible for ensuring that all specified retail goods sent via a third party are underpinned by relevant commercial arrangements which ensure those
            performing conveyance or certification of specified retail goods on their behalf adhere to the Scheme terms and conditions.
        </p>

        <h2 class="govuk-heading-m" id="non-compliance">Non-compliance</h2>
        <p class="govuk-body">28. The Scheme Member must notify the Great Britain Competent Authority by email without delay upon becoming aware:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>of any breach of these terms and conditions</li>
            <li>that the movement of any specified retail goods through the Scheme has not been in accordance with the requirements of the Scheme (e.g. movement of non-eligible retail goods)</li>
            <li>of any non-compliance with the instruments specified in condition 16 for the movement of goods subject to Sanitary or Phytosanitary controls</li>
        </ul>

        <h2 class="govuk-heading-m" id="prevention-fraud-corruption">Prevention of Fraud and Corruption</h2>
        <p class="govuk-body">
            29. The Scheme Member shall not offer, give, or agree to give anything, to any person an inducement or reward for doing, refraining from doing, or for having done or refrained from doing, any
            act in relation to its membership of the Scheme or the movement of specified retail goods.
        </p>
        <p class="govuk-body">
            30. The Scheme Member shall take all reasonable steps, in accordance with good industry practice, to prevent fraud by its employees and contractors in connection with the Scheme and to ensure
            compliance of its employees and contractors with anti-bribery legislation including without limitation the Bribery Act 2010.
        </p>
        <p class="govuk-body">
            31. If the Scheme member or the staff engages in conduct prohibited by condition 29 or commits fraud in relation to the Scheme this shall constitute a non-compliance with these terms and
            conditions.
        </p>


        <h2 class="govuk-heading-m" id="general">General</h2>
        <p class="govuk-body">
            32. The Secretary of State with the consent of the Scottish and Welsh Ministers and DAERA reserve the absolute right, at their sole discretion, to vary these terms and conditions in any way and
            at any time, and the amended terms and conditions will be notified to the Scheme Member. By continuing to authorise General Certificates and move specified retail goods via the Scheme, the
            Scheme Member specifically accepts these terms and conditions as varied.
        </p>
        <p class="govuk-body">
            33. If any provision of these terms and conditions is prohibited by law or judged by a court to be unlawful, void or unenforceable, the provision shall, to the extent required, be severed from
            these terms and conditions and rendered ineffective as far as possible without modifying the remaining provisions of these terms and conditions and shall not in any way affect any other
            circumstances of or the validity or enforcement of these terms and conditions.
        </p>

    </div>
</div>