@page
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Establishments.EstablishmentNameAndAddressModel
@{
    ViewData["Title"] = "Add a place of dispatch";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="ModelState" />

        <form method="POST" novalidate>
            <input type="hidden" asp-for="TradePartyId" />
            <input type="hidden" asp-for="NI_GBFlag" />
            <input type="hidden" asp-for="EstablishmentId" />

            <div class="govuk-form-group @(ModelState.ErrorCount > 0 ? "govuk-form-group--error" : null)">
                <fieldset class="govuk-fieldset" aria-describedby="@(ModelState.HasError("EstablishmentName") ? "EstablishmentName": null)">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Establishments</span>
                            @Model.ContentHeading
                        </h1>
                    </legend>

                    <div class="govuk-form-group">
                        <p id="EstablishmentName_Error" class="govuk-error-message" gds-validation-for="EstablishmentName"></p>
                        <label class="govuk-label" asp-for="EstablishmentName">
                            Establishment name
                        </label>
                        <input class="govuk-input" asp-for="EstablishmentName" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <p id="LineOne_Error" class="govuk-error-message" gds-validation-for="LineOne"></p>
                        <label class="govuk-label" asp-for="LineOne">
                            Address line 1
                        </label>
                        <input class="govuk-input" asp-for="LineOne" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" asp-for="LineTwo">
                            Address line 2 (optional)
                        </label>
                        <input class="govuk-input" asp-for="LineTwo" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <p id="CityName_Error" class="govuk-error-message" gds-validation-for="CityName"></p>
                        <label class="govuk-label" asp-for="CityName">
                            Town or city
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" asp-for="CityName" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <p id="Country_Error" class="govuk-error-message" gds-validation-for="Country"></p>
                        <label class="govuk-label" asp-for="Country">
                            Country (optional)
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" asp-for="Country" asp-for="Country" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <p id="PostCode_Error" class="govuk-error-message" gds-validation-for="PostCode"></p>
                        <label class="govuk-label" asp-for="PostCode">
                            Postcode
                        </label>
                        <input class="govuk-input govuk-input--width-10" asp-for="PostCode" type="text">
                    </div>

                </fieldset>
                <br>
            </div>
            <button class="govuk-button" asp-page-handler="submit">Save and continue</button>
        </form>
    </div>
</div>
