@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Domain.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.Establishments.PostcodeSearchModel
@{
    ViewData["Title"] = "Enter Establishment postcode";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ErrorSummary" model="ModelState" />

        <form method="POST" novalidate>
        <input type="hidden" asp-for="TradePartyId" />
            <div class="govuk-form-group @(ModelState.ErrorCount > 0 ? "govuk-form-group--error" : null)">
                <fieldset class="govuk-fieldset" aria-describedby="@(ModelState.HasError("Postcode") ? "Postcode": null)">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Establishments</span>
                            Add a point of departure
                        </h1>
                    </legend>

                <p class="govuk-hint" id="search-points-of-departure">Add all establishments in Great Britan from which your goods will be departing under the scheme.</p>
                    <p id="Postcode_Error" class="govuk-error-message" gds-validation-for="Postcode"></p>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="search-points-of-departure">Establishment postcode</label>  
                    <input class="govuk-input" id="search-points-of-departure" asp-for="Postcode" type="search">
                </div>
                </fieldset>
            </div>

            <button class="govuk-button" asp-page-handler="submit">Find establishment</button>
        </form>

    </div>
</div>