@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (String.IsNullOrEmpty(Model.Message))
    {
        <h1 class="display-4">Welcome</h1>
    }
    else
    {
        <h1 class="display-4">@Model.Message</h1>
    }

</div>