@page
@{
    ViewData["Title"] = "Authorisation Error";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot access this page or perform this action
      </h1>

      <p class="govuk-body">If you typed the web address, check it is correct.</p>

        <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <partial name="_ContactDetailsPartial" />
    </div>
</div>
