@import "../../node_modules/govuk-frontend/dist/govuk/all";
@import "../../node_modules/@ministryofjustice/frontend/moj/components/sortable-table/sortable-table";

// Task list pattern
.app-task-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    @include govuk-media-query($from: tablet) {
        min-width: 550px;
    }
}

.app-task-list__section {
    display: table;
    @include govuk-font($size:24, $weight: bold);
}

.app-task-list__section-number {
    display: table-cell;

    @include govuk-media-query($from: tablet) {
        min-width: govuk-spacing(6);
        padding-right: 0;
    }
}

.app-task-list__items {
    @include govuk-font($size: 19);
    @include govuk-responsive-margin(9, "bottom");
    list-style: none;
    padding-left: 0;

    @include govuk-media-query($from: tablet) {
        padding-left: govuk-spacing(6);
    }
}

.app-task-list__item {
    border-bottom: 1px solid $govuk-border-colour;
    margin-bottom: 0 !important;
    padding-top: govuk-spacing(2);
    padding-bottom: govuk-spacing(2);
    @include govuk-clearfix;
}

.app-task-list__item:first-child {
    border-top: 1px solid $govuk-border-colour;
}

.app-task-list__task-name {
    display: block;

    @include govuk-media-query($from: 450px) {
        float: left;
    }
}

// The `app-task-list__task-completed` class was previously used on the task
// list for the completed tag (changed in 86c90ec) – it's still included here to
// avoid breaking task lists in existing prototypes.
.app-task-list__tag {
    margin-top: govuk-spacing(2);
    margin-bottom: govuk-spacing(1);

    @include govuk-media-query($from: 450px) {
        float: right;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.govuk-phase-banner--user:after {
    content: "";
    display: block;
    clear: both;
}

.govuk-phase-banner--user .govuk-phase-banner__content {
    float: left;
}

.govuk-phase-banner__content__user-list {
    margin: 0;
    padding: 0;
    margin-top: 2px;
    list-style-type: none;
    float: right;
}

.govuk-phase-banner__content__user-list__list-item {
    position: relative;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 0;
    display: inline-block;
}

.govuk-link-16 {
    font-size: 16px;
}

// govuk-frontend v5 override for tag component
.govuk-tag {
    max-width: none;
}

@media (max-width: 760px) {
    .govuk-phase-banner--user .govuk-phase-banner__content {
        float: none;
    }

    .govuk-phase-banner__content__user-list {
        float: none;
        margin-top: 15px;
    }
}

.govuk-link-16 {
    font-size: 16px;
}

@media print {
    .govuk-link-16 {
        font-size: 14px;
    }
}

// override for banner
.banner-override {
    font-size: 1rem;
    line-height: 1.1428571429;
}

.search-wrapper {
    position: relative;
    margin-bottom: 30px;
}

.search-submit {
    border: 0;
    cursor: pointer;
    border-radius: 0;
    position: relative;
    padding: 0;
    width: 40px;
    height: 40px;
    background-image: url(/public/images/search-button.png);
    background-repeat: no-repeat;
    background-position: 2px 50%;
    text-indent: -5000px;
    overflow: hidden;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .search-submit {
        background-size: 52.5px auto;
        background-position: 115% 50%;
    }
}

.search-submit:focus {
    z-index: 2;
    outline: 3px solid #ffbf47;
    outline-offset: 0;
    box-shadow: inset 0 0 0 4px #0b0c0c;
}

.search-submit::-moz-focus-inner {
    border: 0;
}

.search-input-wrapper {
    display: table;
    width: 100%;
    background: #ffffff;
}

.search-input-submit-wrapper {
    position: relative;
    display: table-cell;
    vertical-align: top;
}

.search-input-submit-wrapper {
    width: 1%;
}

.search-submit {
    background-color: #005ea5;
    color: #ffffff;
}

.search-submit:hover {
    background-color: #3699d3;
}

.search-wrapper input[type="search"] {
    border-right-width: 0;
}

.search-wrapper-no-icon input[type="search"] {
    border-right-width: 2px;
}

.search-wrapper input[type="search"]:focus {
    border-right-width: 2px;
}

.search-wrapper input[type="search"] {
    height: 50px;
}

.search-wrapper .search-submit {
    width: 50px;
    height: 50px;
    background-position: 8px 50%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .search-wrapper .search-submit {
        background-size: 60px auto;
        background-position: 160% 50%;
    }
}
