@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Constants;
@{
    ViewData["Title"] = "Add business";
}

@section Back{
    <a asp-page="@Routes.Pages.Path.BusinessListPath" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Add a business
        </h1>

        <p class="govuk-body">If the business you want to sign up already has a Defra account, you'll need to contact your business' account administrator so they can give you access. To learn more about account access, you can read about how to <a href="https://www.gov.uk/government/publications/how-to-register-for-export-health-certificate-ehc-online/ehc-online-manage-access-using-your-defra-account" target="_blank" rel="noreferrer noopener">manage access using your Defra account</a>. </p>

        <p class="govuk-body"> If your business does not have a Defra account, you'll need to add a business to your <a href="" target="_blank" rel="noreferrer noopener">individual account</a>.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m" id="help-with-your-application">Help with signing up for the Northern Ireland Retail Movement Scheme</h2>
        <p class="govuk-body">Call APHA on <a href="tel:03000200301" target="_blank" rel="noreferrer noopener">03000 200 301</a>, Monday to Friday 8:30am - 5pm.</p>
        <p class="govuk-body"><a href="https://www.gov.uk/call-charges" target="_blank" rel="noreferrer noopener">Find out about call charges</a>.</p>
        <p class="govuk-body">You can also email us at <a href="mailto:NIRetailMovementEnquiries@apha.gov.uk" target="_blank" rel="noreferrer noopener">NIRetailMovementEnquiries@apha.gov.uk</a></p>

    </div>
</div>


