@page
@using Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Constants;
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.SelfServe.AddEstablishmentHoldingModel
@{
    ViewData["Title"] = Model.CountryText;
}

@section Back{
    <a asp-page="@Routes.Pages.Path.SelfServeDashboardPath" asp-route-id="@Model.OrgId" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            @Model.CountryText
        </h1>

        <p class="govuk-body">Call APHA on <a href="tel:03000200301">03000 200 301</a>, Monday to Friday 8:30am - 5pm.</p>
        <p class="govuk-body"><a href="https://www.gov.uk/call-charges" target="_blank" rel="noopener noreferrer">Find out about call charges</a>.</p>
        <p class="govuk-body">You can also email us at <a href="mailto:NIRetailMovementEnquiries@apha.gov.uk" target="_blank" rel="noopener noreferrer">NIRetailMovementEnquiries@apha.gov.uk</a></p>

        <form method="post">
            <input type="hidden" asp-for="RegistrationId" />
            <input type="hidden" asp-for="OrgId" />
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" asp-page-handler="submit" id="button-rbGuidanceSubmit">Back to Dashboard</button>
            </div>
        </form>

    </div>
</div>