@page
@model Defra.Trade.ReMoS.AssuranceService.UI.Hosting.Pages.SelfServe.EstablishmentAddedModel
@{
    ViewData["Title"] = "Establishment successfully added";
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Establishments</span>
            Place of dispatch successfully added
        </h1>

        <p class="govuk-!-font-weight-bold">Warehouse B, 8 Teal Business Park, Dodwells Road, Hinckley, LE10 3BZ</p>

        <p class="govuk-!-font-weight-bold">RMS-GB-123456-009</p>

        <p>This establishment will be available to add as a place of dispatch on a General Certificate.</p>

        <p>
            <a href="dashboard-send?new=true" class="govuk-button">Back to dashboard</a>
        </p>

    </div>
</div>