<h2 class="govuk-heading-m" id="help-with-your-application">Help with the Northern Ireland Retail Movement Scheme</h2>
<p class="govuk-body">Call APHA on <a href="tel:03000200301">03000 200 301</a>, Monday to Friday 8:30am - 5pm.</p>
<p class="govuk-body"><a href="https://www.gov.uk/call-charges" target="_blank" rel="noopener" >Find out about call charges</a>.</p>
