<h2 class="govuk-heading-m" id="help-with-your-application">Help with the Northern Ireland Retail Movement Scheme</h2>
<p class="govuk-body">In England, Scotland and Wales, call APHA on 03000 200 301.</p>
<p class="govuk-body">In Northern Ireland, call DAERA on 02877 442 060.</p>
<p class="govuk-body"><a href="https://www.gov.uk/call-charges">Find out about call charges</a>.</p>